h1 {
    padding: 30px;
}
.todoList {
    padding: 30px;
    background: burlywood;
}
.container {
    max-width: 400px;
}
input[type=text],
input[type=text]:focus {
    color: #000;
    border: none;
    background: white;
    max-width: 400px;
}
.todos li {
    background: beige;
}
.delete {
    cursor: pointer;
}
.filtered, .hide {
    display: none;
}
.showTodo:hover, .showQuiz:hover {
    background: inherit;
    border: 1px solid #000;
    color: #000;
}